*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: 30px auto 0;
    background-color: grey;
}

header h1{
    text-align: center;
    color: rgba(229, 49, 112, 1);
}

header p{
    text-align: center;
    margin-block: 40px;
}

.contatti{
    background-color:rgba(15, 14, 23, 1);
    width: calc(100% / 3 - 30px);
    margin: 15px;
    float: left;
}

.contatti figure{
    width: 100px;
    float: left;
}

figure img{
    width: 100%;
}

.contatti ul{
    color: white;
    float: left;
    margin-left: 1em;
    list-style-type: none;

}

.contatti ul .nome{
    font-weight: bold;
    font-size: 20px;
    margin-block: 10px;
}

.contatti ul .professione{
    font-size: 14px;
    margin-block: 10px;
}

.contatti ul .email{
    font-size: 14px;
    text-decoration: none;
    color: rgba(51, 167, 215, 1);

}

.contatti ul .email:hover{
    text-decoration: underline;
}


.clearfix::after{
    content: "";
    clear: both;
    display: table;
}